@import '../../../../variables.scss';



form{
    text-align: center;
    // width: 80%;
}

.btns{
    display:flex;
    justify-content: space-around;
    padding-top: 45px;
    padding-bottom:25px;
}

.containerbtns{

    width:20vw;
    margin: 0 auto;


}



.btns button{
    margin-top:-15px;

}



.selectBox{
    border: 1px solid;
    margin : 0 auto;
    width:180px;
    padding:8px 0px;
    background-color:$vibrant-greenblue;
    color: white;
    border-radius:0px 0px 5px 5px;
    font-weight: 500;
}

.mat-card{
    background-color:$pastelyellow;
    height:45vh;
    width:877px;
    padding:40px;
    
    
}

.mat-card-content{
    padding:0;
}


