<div class="main-div"><mat-card>
  <mat-card-content>
    <h1>Let's create an user!</h1>

    <div class="main-div">
    <form [formGroup]="form" (submit)="submitForm()">
      <section>
        
        <mat-form-field>
          <mat-label>Firstname: </mat-label>
          <input type="text" name="firstname" id="firstname" matInput placeholder="Firstname"
            formControlName="firstname" />
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <mat-label>Lastname: </mat-label>
          <input type="text" name="lastname" id="lastname" matInput placeholder="Lastname" formControlName="lastname">
        </mat-form-field>
      </section>

      <section>
        <mat-form-field>
          <mat-label>Email: </mat-label>
          <input type="email" name="email" id="email" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </section>

      <section>
        <mat-label>Choose a function below: </mat-label>
        <mat-select name="fonction" id="fonction-mat-" formControlName="fonction">
          <!-- <mat-option value="">--Choose below--</mat-option> -->
          <mat-option value="Project Manager">Project Manager</mat-option>
          <mat-option value="Front End">Front End</mat-option>
          <mat-option value="Back End">Back End</mat-option>
          <mat-option value="Full Stack">Full Stack</mat-option>
          <mat-option value="Designer">Designer</mat-option>
        </mat-select>
      </section>

      <section>
        <button class="click" type="submit">Submit</button>
      </section>

    </form>
  </div>


  </mat-card-content>
</mat-card></div>
