<h1>Let's create an user !</h1>

    <section>

        <!-- <form [formGroup]="form" (submit)="submitForm()"> -->
        <form [formGroup]="form">

        <section>
            <label>Firstname: </label>
            <input type="text" name="firstname" id="firstname" placeholder="Firstname" formControlName="firstname"/>
        </section>

        <section>
                <label>Lastname: </label>
              <input type="text" name="lastname" id="lastname" placeholder="Lastname" formControlName="lastname">
            </section>

        <section>
              <label>Email: </label>
            <input type="email" name="email" id="email"  placeholder="Email" formControlName="email">
        </section>
<section>
  <label>Choose a function: </label>
    <select name="function" id="function-select">
      <option value="">--Choose below--</option>
      <option value="projectmanager">Project Manager</option>
      <option value="frontend">Front End</option>
      <option value="backend">Back End</option>
      <option value="fullstack">Full Stack</option>
      <option value="designer">Designer</option>
    </select>
  </section>
    <br />
    
        <button type="submit">Submit</button>
      </form>

    </section>
