<mat-card>
  <mat-card-content>
    <section>
      <h2>User list</h2>
    </section>
    <mat-list>
      <mat-list-item *ngFor="let user of users">
        <p matLine>Firstname : {{user.firstname}}</p>
        <p matLine>Lastname : {{user.lastname}}</p>
        <p matLine>Email : {{user.email}}</p>
        <p matLine>Function : {{user.fonction}}</p>

        <section>
          <button routerLink="/users/{{user._id}}">Edit</button>
          <button (click)="deleteUser(user._id)">Delete user?</button>
        </section>
      </mat-list-item>
    </mat-list>



  </mat-card-content>
</mat-card>
