<h2>projects</h2>
<mat-list *ngFor="let project of projects">
  <mat-list-item>
    <h3>{{project.name}}</h3>
    <!-- <li>{{project.deadline}}</li> -->
    <!-- changer l'affichage de la date avec le pipe dateDisplay -->
    <!-- <li>{{project.deadline | date : 'longDate'}}</li> -->
    <p>Deadline : {{project.deadline | date : 'longDate'}}</p>
    <p>User(s) : {{project.staff}}</p>


    <div>
      <button routerLink="/projects/{{project._id}}">Edit</button>
      <button (click)="deleteProject(project._id)">Delete</button>
    </div>
  </mat-list-item>
</mat-list>
