<div class="main-div">
  <mat-card>
    <mat-card-content>
      <section>
        <h1>Let's create a task</h1>
      </section>
      <section>
        <form (submit)="submitForm()" [formGroup]="form">
          <section>
            <mat-form-field>
              <mat-label for="name">Task name : </mat-label>
              <input matInput type="text" name="task-name" id="name" placeholder="Name your task"
                formControlName="name">

              <mat-error *ngIf="form.controls['name'].invalid">{{getErrorMessage('name')}}</mat-error>
            </mat-form-field>
          </section>

          <!-- ------------------------- mat assigned users ------------------------- -->
          <section>
            <mat-form-field>
              <mat-label for="assignedUsers">Assigned user(s) : </mat-label>
              <mat-select multiple name="assignedUsers" id="assignedUsers" formControlName="assignedUsers">

                <section>
                  <label class="desc" for="desc">Description : </label>
                  <textarea name="desc" id="description" placeholder="Describe your task" cols="30" rows="10"
                    formControlName="desc">

        </textarea>
                </section>

                <!-- ---------------------------- mat radio ---------------------------- -->
                <section>
                  <mat-label for="priority">Priority status : </mat-label>
                  <mat-radio-group formControlName="priority">
                    <mat-label for="lowPriority">low </mat-label>
                    <mat-radio-button id="lowPiority" name="priority" value="low priority"></mat-radio-button>
                    <mat-label for="mediumPiority">medium </mat-label>
                    <mat-radio-button id="mediumPiority" name="priority" value="medium priority"></mat-radio-button>
                    <mat-label for="highPriority">high </mat-label>
                    <mat-radio-button id="highPriority" name="priority" value="high priority"></mat-radio-button>
                    <mat-error *ngIf="form.controls['priority'].invalid && ['priority'].touched">
                      {{getErrorMessage('priority')}}</mat-error>
                  </mat-radio-group>
                </section>

                <div class="containerbtns">
                  <section class="btns">
                    <div class="click"> <a routerLink="/">Cancel</a></div>
                    <div class="click"> <button class="click" type="submit" [disabled]="form.invalid">Create
                        task</button></div>
                  </section>
                </div>

        </form>
      </section>
    </mat-card-content>
  </mat-card>
</div>

<!-- -------------------------- radio without mat -------------------------- -->
<!-- <legend>Priority status :</legend> -->
<!-- <label for="lowPriority">low</label>
                <input type="radio" id="lowPiority" name="status"  value="1" formControlName="status">
                <label for="lowPriority">medium</label>
                <input type="radio" id="mediumPiority" name="status"  value="2" formControlName="status">
                <label for="hightPiority">hight</label>
                <input type="radio" id="hightPiority" name="status"  value="3" formControlName="status">
             -->
<!-- --------------------------- estimated time ---------------------------- -->
<!-- <p>
            <label for="estimatedTime">Estimated time : </label>
            <input 
                type="text"
                name="task-estimated-time"
                id="estimatedTime"
                placeholder="estimated time"
                >
        </p>  -->

<!-- ---------------------------------- x ---------------------------------- -->
<!-- ------------------------- base assigned users ------------------------- -->
<!-- <p>
            <label for="assignedUsers">Choose users to assign : </label>
            <select 
            multiple
                name="assignedUsers"
                id=assignedUsers
                formControlName="assignedUsers"
                >
                <option *ngFor="let user of users" >{{user.firstname}}</option>
            </select>
        </p> -->
