@import '../../../../variables.scss';


//Rajout par tom
.selectBox{
    border: 1px solid;
    margin : 0 auto;
    width:180px;
    padding:8px 0px;
    background-color:$vibrant-greenblue;
    color: white;
    border-radius:0px 0px 5px 5px;
    font-weight: 500;
}

// mat-option {
//   }
  


form{
    text-align: center;
    width: 100%;
    margin : 0 auto;
}

.btns{
    display:flex;
    justify-content:  space-around;  ;
    padding-top: 45px;
    padding-bottom:25px;
}

.containerbtns{

    width:20vw;
    margin: 0 auto;


    
}

.btns button{
    margin-top:-15px;

}

.click {
    
button{
box-shadow:none;
border:0 none;
outline:0;
font-family:$titles-font;
}


    a, button{  
        color:$titles;
        text-decoration:none;
        padding: 1em 1.5em;
        background-color:$lightergrey;
        border-radius:15px;
        transition: all .3s;
        
        
    }

   
 &:hover{
  a, button{
            color:$pastelyellow;
            background-color:$vibrant-greenblue;
            transition: all .3s;
        }


    }
}    


