<h1>Let's edit this user</h1>



<section>

  <form action="" method="post">

    <div>

      <label for="lastname">Name: </label>
      <input type="text" Name="" id="lastname" placeholder="Lastname">
      <br>
      <label for="firstname">Name: </label>
      <input type="text" name="" id="firstname" placeholder="Firstname">
      <br>
      <label for="email">Email: </label>
      <input type="email" name="" id="email" placeholder="Email">
      <br>
      <label for="function">function: </label>

      <select name="function" id="function-select">
        <option value="">--Choose below--</option>
        <option value="projectmanager">Project Manager</option>
        <option value="frontend">Front End</option>
        <option value="backend">Back End</option>
        <option value="fullstack">Full Stack</option>
      </select>
      <br />
      <button type="submit">Submit</button>

    </div>

  </form>

</section>
