<section>
  <h1>Create a project</h1>
</section>

<!-- Pour Adrien et Tom -->
<!-- Pour les 'name' avec un trait d'union entre les mots -->
<!-- Pour les 'id' : en camelCase -->
<section>

  <!-- <form action="" method="POST"> -->
  <form [formGroup]="form" (submit)="submitForm()">

    <div>

      <label for="name">Name : </label>
      <input type="text" name="name" id="name" placeholder="Name your project">
      <br>
      <label for="date">Starting date : </label>
      <input type="datetime" name="date" id="date" placeholder="mm/dd/yy">
      <br>
      <label for="deadline">Deadline : </label>
      <input type="datetime" name="deadline" id="deadline" placeholder="mm/dd/yy">
      <br>
      <label for="time">Estimated time : </label>
      <input type="number" name="time" id="time" placeholder="237 hours">
    </div>

    <div>
      <label for="staff">Crew member(s) : </label>
      <input type="text" name="staff" id="staff" placeholder="Add a user">
      <button type="submit">Add a user</button>
    </div>

    <div>
      <label for="desc">Description : </label>
      <textarea name="desc" id="desc" cols="30" rows="10"
        placeholder="Describe your project"></textarea>
    </div>

    <div>
      <button type="submit">Create</button>
    </div>

  </form>

</section>
