<section>
  <h1>Create a project</h1>
</section>

<!-- Pour Adrien et Tom -->
<!-- Pour les 'name' avec un trait d'union entre les mots -->
<!-- Pour les 'id' : en camelCase -->
<section>

  <!-- <form action="" method="POST"> -->
  <form [formGroup]="form" (submit)="submitForm()">

    <div>

      <div>
        <label for="name">Name : </label>
        <input type="text" name="project-name" id="name" placeholder="Name your project" formControlName="name">
      </div>

      <div>
        <label for="date">Starting date : </label>
        <input type="datetime" name="date-start" id="date" placeholder="mm/dd/yy" formControlName="date">
      </div>

      <div>
        <label for="deadline">Deadline : </label>
        <input type="datetime" name="date-stop" id="deadline" placeholder="mm/dd/yy" formControlName="deadline">
      </div>

      <div>
        <label for="time">Estimated time : </label>
        <input type="number" name="time-estimation" id="time" placeholder="237 hours" formControlName="time">
      </div>

    </div>

    <div>
      <label for="staff">Crew member(s) : </label>
      <input type="text" name="crew-members" id="staff" placeholder="Add a user" formControlName="staff">
      <button type="submit">Add a user</button>
    </div>

    <div>
      <label for="desc">Description : </label>
      <textarea name="description-project" id="desc" cols="30" rows="10" placeholder="Describe your project"
        formControlName="desc"></textarea>
    </div>

    <div>
      <!-- https://stackoverflow.com/questions/18407832/how-to-create-a-html-cancel-button-that-redirects-to-a-url -->
      <a href="http://localhost:4200/">Cancel</a>
      <button type="submit">Create</button>
    </div>

  </form>

</section>
