<section>
  <h1>Create a project</h1>
</section>

<!-- Pour Adrien et Tom -->
<!-- Pour les 'name' avec un trait d'union entre les mots -->
<!-- Pour les 'id' : en camelCase -->
<section>

  <!-- <form action="" method="POST"> -->
  <form [formGroup]="form" (submit)="submitForm()">

    <div>

      <div>
        <label for="name">Name : </label>
        <input type="text" name="project-name" id="name" placeholder="Name your project" formControlName="name">
      </div>

      <div>
        <label for="date">Starting date : </label>
        <input type="datetime" name="date-start" id="date" placeholder="mm/dd/yyyy" formControlName="date">
      </div>

      <div>
        <label for="deadline">Deadline : </label>
        <input type="datetime" name="date-stop" id="deadline" placeholder="mm/dd/yyyy" formControlName="deadline">
      </div>

      <div>
        <label for="time">Estimated time : </label>
        <input type="number" name="time-estimation" id="time" placeholder="237 hours" formControlName="time">
      </div>

    </div>

    <div>
      <label for="staff">Crew member(s) : </label>
      <!-- TODO: ajouter seulement un user existant -->
      <select type="text" name="crew-members" id="staff" formControlName="staff">
        <option value=""></option>
      </select>
    </div>

    <!-- TODO: ne fonctionne pas -->
    <!-- TODO: afficher le(s) user(s) ajouté(s) -->
    <!-- <div>
      <ul>
        <li>{{project.staff}}</li>
      </ul>
    </div> -->

    <div>
      <label for="desc">Description : </label>
      <textarea name="description-project" id="desc" cols="30" rows="10" placeholder="Describe your project"
        formControlName="desc"></textarea>
    </div>

    <div>
      <label for="inProgress">Is your project already in progress ? :</label>
      <!-- TODO:trouver solution pour avoir false par default et pas null -->
      <!-- <input type="checkbox" name="inProgress" value="0" formControlName="inProgress"> -->
      <input type="checkbox" name="in-progress" id="inProgress" formControlName="inProgress" [class]="isInProgress"
        (click)="setInProgress()">
    </div>

    <div>
      <!-- https://stackoverflow.com/questions/18407832/how-to-create-a-html-cancel-button-that-redirects-to-a-url -->
      <a href="http://localhost:4200/">Cancel</a>
      <button type="submit">Create</button>
    </div>

  </form>

</section>
