<p>delete-task works!</p>
<ul>
    <li>
        <a href="">task</a>
        <button type="button">delete</button>
    </li>
    <li>
        <a href="">task</a>
        <button type="button">delete</button>
    </li>
    <li>
        <a href="">task</a>
        <button type="button">delete</button>
    </li>
    <li>
        <a href="">task</a>
        <button type="button">delete</button>
    </li>
    <li>
        <a href="">task</a>
        <button type="button">delete</button>
    </li>
    <li>
        <a href="">task</a>
        <button type="button">delete</button>
    </li>
</ul>