<div class="main-div">
  <div class="main">
    <div class="left">
      <div class="flex-button-l">
        <div class="click"><a routerLink="./projects">PROJECT LIST</a></div>
      </div>
      <mat-list *ngFor='let project of projects' class="list">
        <a routerLink="./idproject/{{project._id}}">
          <mat-list-item>
            <div class="list-content">
              <h2>{{project.name}}</h2>
              <p *ngIf="project.inProgress">In progress</p>
              <p *ngIf="!project.inProgress">To do</p>
              <p>
                <!-- Deadline : {{project.deadline | date : 'longDate'}} -->
                Deadline: {{project.deadline | date : 'mediumDate'}}
              </p>
            </div>
          </mat-list-item>
        </a>
      </mat-list>
    </div>

    <div class="right">
      <div class="content">
        <h1>WHAT'S 6PM ?</h1>
        <p class="pm">
          Organise your work easily and quickly without communication problems with your teammates.
          Then leave the office at 6PM with everything under control and the job done.
        </p>

        <h2 class="pmslogan">View - Organize - Work - Done</h2>
      </div>
      <div class="flex-button">
        <div class="click"><a routerLink="./project/add" title="Project list">CREATE PROJECT</a></div>
        <div class="click"><a routerLink="./user/add">CREATE USER</a></div>
      </div>
    </div>
  </div>
</div>
