<div class="main-div">
  <div class="project-infos">
    <h1>{{project.name}}</h1>
      <div class="wrapper">
        <div class="projInfos">
            <p><span>Date:</span> {{project.date | date : 'mediumDate'}}</p>
          <p><span>Deadline:</span> {{project.deadline | date : 'mediumDate'}}</p>
          <p><span>Time:</span> {{project.time}} hour(s)</p>
          <p><span>Members:</span> {{project.staff}}</p>  
      </div>
      
   
    </div>
      <div class="projDesc">
      <p><span>Project's description:</span> {{project.desc}}</p>
    </div>   
    <a [routerLink]="['/idproject',project._id,'task','add']" class="click">New task</a>

    <app-kanban></app-kanban>
  </div>
</div>
