<div class="main-div">
  <div class="project-infos">
    <h1>{{project.name}}</h1>
      <div class="wrapper">
        <div class="projInfos">
          <span><p>Deadline: {{project.deadline | date : 'mediumDate'}}</p></span>
          <span><p>Time: {{project.time}} hour(s)</p></span>
          <span><p>Members:{{project.staff}}</p></span>  
          <span><p class="deadLine">Date : {{project.date | date : 'mediumDate'}}</p></span>
      </div>
      
      <div class="projDesc">
      <p>Desc: {{project.desc}}</p>
    </div>      

    </div>


  <a [routerLink]="['/idproject',project._id,'task','add']" class="click">new task</a>
    <app-kanban></app-kanban>
  </div>
</div>
