/* You can add global styles to this file, and also import other style files */

/*VARIABLES*/
@import 'variables';

/*FONTS*/

@font-face {
    font-family: 'simpelmedium';
    src: url('fonts/simpel-medium-webfont.woff2') format('woff2'),
         url('fonts/simpel-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans-light-webfont.woff2') format('woff2'),
         url('fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*BASIC*/



html{

    margin:0;
    padding:0;
    width: 100vw;
    height:100vh;
    

}

body{

    background-color:$lightergrey;
    width: $larger-width;
    font-size: 16px;
    margin:0 auto;
    
    
}

form{

    margin: 0 auto;
    background-color: $pastelyellow;
    width: 800px;
    padding: 20px;
    border-radius: 5px;
}

//MAIN

.main{

    padding-top: 150px;
    margin:0 auto;
    width:$larger-width;
    display:flex;
    justify-content:center;
    
    

    .right{

        width:800px;
        background-color:$pastelyellow;


    }

    .left{

        background-color:$pastel-greenblue;
        height:60vh;
        width:224px;

        .click{
            margin-left:50px;
            margin-top: 50px;
        }
    }

}

.click{

    width:120px;
    height:40px;
    border: 1px solid $lightergrey;
    border-radius: 25px;
    background-color:$lightergrey;
   

    a{  
        
        
        color:$titles;
        text-decoration:none;
    }

    p{
        vertical-align:40px;
    }
    
    &:hover{

        background-color:$vibrant-greenblue;
        border: 1px solid $vibrant-greenblue;

        a{
            color:$pastelyellow;
        }


    }
    
}

//FOOTER

footer{
    position: absolute;
    bottom: 0;
    left:0;
    height:70px;
    margin:0;
    padding:0;
    background-color: $pastelyellow;
    width: 100%;

    p{
    text-align: center;
    font-family: 'open_sansregular';
    color:$lightgrey;
    }
}