/* You can add global styles to this file, and also import other style files */

/*VARIABLES*/
@import 'variables';

/*FONTS*/

@font-face {
    font-family: 'simpelmedium';
    src: url('fonts/simpel-medium-webfont.woff2') format('woff2'),
         url('fonts/simpel-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans-light-webfont.woff2') format('woff2'),
         url('fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*BASIC*/



html{

    margin:0;
    padding:0;
    width: 100vw;
    height:100vh;
    

}

body{

    background-color:$lightergrey;
    width: $larger-width;
    font-size: 16px;
    margin:0 auto;
  
}

a{
    font-family:$titles-font;
}

form{

    margin: 0 auto;
    background-color: $pastelyellow;
    width: 800px;
    height:70vh;
    padding: 20px;
    border-radius: 5px;
}

// MAIN CONTENT

.content{

    h1{
        
        color:$titles;
        font-size:2.5em;
        font-family:$titles-font;
        text-align:center;
    }

    p{
        color:$lightgrey;
        text-align:justify;
        line-height:1.3em;
        
    }


}

//MAIN (( home page à déplacer dans component plus tard ))

.main{

    padding-top: 150px;
    margin:0 auto;
    width:$larger-width;
    display:flex;
    justify-content:center;
    
    

    .right{

        max-width:800px;
        background-color:$pastelyellow;
        padding:75px;

        .flex-button{
            display:flex;
            justify-content:space-evenly;

            .click{
                margin-top: 20%;
            }
        }
 }

 .left{

    background-color:$pastel-greenblue;
    padding:50px;
 }



}

// BUTTONS

.click {

    
    
   

    a{  
        color:$titles;
        text-decoration:none;
        padding: 1em 1.5em;
        background-color:$lightergrey;
        border-radius:25px;
        transition: all .3s;
        
        
    }

   
 &:hover{

       
  a{
            color:$pastelyellow;
            background-color:$vibrant-greenblue;
            transition: all .3s;
        }


    }
    
}


//FOOTER

footer{
    position: absolute;
    bottom: 0;
    left:0;
    height:70px;
    margin:0;
    padding:0;
    background-color: $pastelyellow;
    width: 100%;

    p{
    text-align: center;
    color:$lightgrey;
    }
}
