//COLORS

$vibrant-greenblue: #54d1b9;
$pastel-greenblue: tint($vibrant-greenblue,30%);
$titles: #2e3f3c;
$pastelyellow: #fffaf1;
$lightgrey: #b9c0be;


//FONTS

$titles-font: 'open_sansbold';

//WIDTHS

$larger-width: 1024px;

