//COLORS

$vibrant-greenblue: #54d1b9;
$pastel-greenblue: #bcdfd4;
$titles: #2e3f3c;
$pastelyellow: #fffaf1;
$lightgrey: #b9c0be;
$lightergrey:#f2ede5;


//FONTS

$titles-font: 'open_sansbold';

//WIDTHS

$larger-width: 1024px;

