
<div class="navflex">
  <ul>
    <li><a href=""><img src="assets/imgs/logo.png" alt="logo-6pm" height="90" id="logo" /></a></li>
    <li><a routerLink="./" title="Home. Free Beers, topless encoders and false promises">Home</a></li>
    <li><a routerLink="./projects" title="Project list">Projects list</a></li>
    <li><a class=" addBtn" a routerLink="./project/add"><img src="assets/imgs/addBtn.svg" alt="add+project" id="addBtn"
          title="Add Project" /></a></li>  
    <li><a routerLink="./login">Login</a></li>
    <!-- <li><a routerLink="./user/add">User Create</a></li>
    <li><a routerLink="./user/edit">User Edit</a></li>
    <li><a routerLink="./users">List User</a></li>
    <li><a routerLink="./project/add">Project Create</a></li>
    <li><a routerLink="./project/edit">Project Edit</a></li>
    <li><a routerLink="./projects">List Project</a></li> 
    <li><a routerLink="./task/add">Task Create</a></li>
    <li><a routerLink="/tasks">List Task</a></li> -->
  
  </ul>

</div>


