/*VARIABLES*/
@import '../../../variables.scss';





.login{
    
    border-radius: 4px;
    font-weight:800;
    color:$lightgrey!important;
    padding: 10px;
    background-color: $lightergrey;
    
}

.login:hover{
    color: $pastelyellow!important ;
    background-color: $vibrant-greenblue;


}

ul{
    
    margin:0;
    padding:0;
    height:80px;
    display:flex;
    justify-content:flex-end;
    background-color: $pastelyellow;
    width:100%;
    top: 0; left: 0;
    
}

.addBtn img{ 
    padding-top:25px;
    opacity: 0.3;
    padding-right:10px;
    width:35px;
}
 

.navflex{
    line-height:80px;  
    margin:0 auto;
    width:100%;
    position:absolute;
    top:0;
    left:0;
}

li{
    padding-right: 20px;
    list-style: none;
    

    a{
        text-decoration: none;
        color: #b9c0be;
        font-family:'open_sansregular';
        text-transform:uppercase;
        font-size:0.9em;

        &:hover{
            color:$vibrant-greenblue;
        }
    
        }

        #logo{
            position:absolute;
            top:0;
            left:0%;
            
        }
        
}


.main-div{

    height: 100vh;
     display: flex;
    justify-content: center;
     align-items: center;
    width:100vw;
    max-width:100%;
    
  
    }

