<ul>
    <li><a routerLink="./">Home</a></li>
    <li><a routerLink="./user/add">User Create</a></li>
    <li><a routerLink="./user/edit">User Edit</a></li>
    <li><a routerLink="./user/delete">User Delete</a></li>
    <li><a routerLink="./project/add">Project Create</a></li>
    <li><a routerLink="./project/edit">Project Edit</a></li>
    <li><a routerLink="./project/delete">Project Delete</a></li>
    <li><a routerLink="./task/add">Task Create</a></li>
    <li><a routerLink="./task/edit">Task Edit</a></li>
    <li><a routerLink="./task/delete">Task Delete</a></li>
</ul>