/*VARIABLES*/
@import '../../../variables.scss';

ul{
    display: flex;
    justify-content: center;
    margin:0;
    padding:0;
    height:80px;
    background-color: $pastelyellow;
    position: absolute;
    width:100%;
    top: 0; left: 0;
   
    

}

li{
    padding-right: 50px;
    list-style: none;
    max-width:$larger-width;

    a{
        text-decoration: none;
        color: #b9c0be;
        font-family:'open_sanslight';
        text-transform:uppercase;

        &:hover{
            color:$vibrant-greenblue;
        }
    
        }

        

        #logo{
            position:absolute;
            top:0;
            left:10%;
            
        }
        
    
}




